.container.full-width {
  width: 100%;
  max-width: none;
}

body {
  background-color: #e4e4e4;
}

.button.ghost {
  border-radius: 0 !important;
  background-color: white;
}

textarea {
  width: 98.5%;
}
.site-info {
  padding-left: 100px;
  color: #ccc;
}

p {
  font-size: 18px;
}

.sidebar-link {
  font-weight: bold;
  text-decoration: none;
  font-size: 12pt;
  color: white;
  transition: color 0.3s linear;
}

.sidebar-link:hover {
  color: #FF9D00;
}

.light-text {
  color: #f7f7f7;
}

.project-link.full-width .image-presentation {
  width: auto;
}

.image-presentation {
  border-radius: 5px;
  z-index: 1;
}

.feature-name {
  font-size: 12px;
  color: #333;
  margin-bottom: 5px;
}

.feature-desc {
  font-size: 12px;
  color: #555;
}

.image-presentation-hover {
  display: none;
  width: 350px;
  height: 200px;
  color: white;
  z-index: 2;
}

.icon {
  width: 32px;
  height: 32px;
  margin: 0 auto;
}

.padded {
  padding-bottom: 100px;
}

.site-info {
  background-color: #345678;
  height: 100vh;
  position: fixed;
  padding: 20px;
  padding-top: 100px;
  text-align: right;
  padding-right: 40px;
}

.content {
  margin-left: 33%;
  padding-top: 100px;
}

.image-presentation:hover > .image-presentation-hover {
  display: inline;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.inner-container {
  max-width: 960px;
  padding-left: 40px;
  padding-right: 40px;
}

.sublinks {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 20px;
}

.site-image img {
  width: 92px;
  height: 92px;
  border-radius: 9999px;
}

a.project-link {
  padding: 0;
  margin: 0;
  text-decoration: none;
	max-width: 350px;
}

.six.columns a.project-link p {
	max-width: 350px;
}
.container a {
  color: #354678;
}

.container .site-info a {
  color: white;
}
input[type="text"], input[type="email"] {
  max-width: 80%;
}

textarea {
  max-width: 90%;
}

@media screen and (max-width: 1200px) {
  img.image-presentation {
    width: 200px;
    height: 100px;
  }
}


@media screen and (max-width: 600px) {
  .site-info {
    height: auto;
    min-height: 250px;
    padding: 0;
    margin-left: 0;
    padding-top: 50px;
    text-align: center;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
  }

  .content {
    padding-top: 20px;
    margin-left: 0;
  }

  img.image-presentation {
    height: 200px;
    width: 350px;
  }
}
