@font-face {
  font-family: 'BebasRegular';
  src: url('fonts/Bebas.eot');
  src: url('fonts/Bebas.eot?#iefix') format('embedded-opentype'), url('fonts/Bebas.woff') format('woff'), url('fonts/Bebas.ttf') format('truetype'), url('fonts/Bebas.svg#BebasRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
a {
  display: inline;
  white-space: nowrap;
  color: #7e7e7e;
  text-decoration: none;
}
a:visited {
  color: #7e7e7e;
}
a:hover {
  color: #545454;
}
header {
  background-color: gainsboro;
  font-size: 24pt;
  font-family: BebasRegular;
  padding-left: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #aaaaaa;
}
header div {
  display: inline;
  margin-right: 30px;
  cursor: pointer;
}
header div .selected {
  font-size: 32pt;
  color: #3c3c3c;
}
h1 {
  width: 100%;
  height: 40px;
  background-color: #cccccc;
  padding-left: 20px;
  margin: 0;
  -moz-box-shadow: 0px 1px 3px #555555;
  -webkit-box-shadow: 0px 1px 3px #555555;
  box-shadow: 0px 1px 3px #555555;
}
html {
  height: 100%;
  width: 100%;
}
body {
  background-color: #e6e6e6;
  height: 100%;
  width: 100%;
}
body .launcher {
  width: 175px;
  display: inline-block;
  margin: 24px;
  -webkit-transform: translateZ(0);
  -moz-box-shadow: 0px 0px 5px #444444;
  -webkit-box-shadow: 0px 0px 5px #444444;
  box-shadow: 0px 0px 5px #444444;
  -webkit-transition: box-shadow 0.3s ease-in;
  -moz-transition: box-shadow 0.3s ease-in;
  -o-transition: box-shadow 0.3s ease-in;
  -ms-transition: box-shadow 0.3s ease-in;
  transition: box-shadow 0.3s ease-in;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  -moz-transition: -webkit-transform 0.2s ease-in;
  -o-transition: -webkit-transform 0.2s ease-in;
  -ms-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
}
body .launcher:hover {
  -moz-box-shadow: 0px 0px 10px #222222;
  -webkit-box-shadow: 0px 0px 10px #222222;
  box-shadow: 0px 0px 10px #222222;
  -webkit-transform: scale(1.24, 1.24);
}
body .launcher img {
  display: block;
  width: 175px;
  margin: auto 0;
}
body .launcher span {
  display: block;
  height: 30px;
  width: 201px;
  background-color: #444444;
  color: #f0f0f0;
  text-align: center;
  line-height: 1.8em;
}
body .slides_container {
  width: 100%;
  height: 100%;
  padding-bottom: 50%;
}
body .slides_container div {
  display: block;
}
