/* -------- Variables ----------- */
/* Colors */
/* Sizes */
@font-face {
  font-family: 'Bebas Regular';
  src: url('fonts/Bebas.eot');
  src: url('fonts/Bebas.eot?#iefix') format('embedded-opentype'), url('fonts/Bebas.woff') format('woff'), url('fonts/Bebas.ttf') format('truetype'), url('fonts/Bebas.svg#BebasRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* -------- Mixins -------------- */

.fullSize {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.noPadding {
  padding: 0;
}
.noMargin {
  margin: 0;
}
.fullWidth {
  width: 100%;
  margin: 0;
  padding: 0;
}
.noLinkHint {
  color: #4a4a4a;
  text-decoration: none;
}
/* -------------Mixins - End ----------*/

html,
body {
  min-width: 63%;
}
html {
  color: #4a4a4a;
  background-image: url('../img/bg.png');
}
header {
  background-color: rgba(180, 85, 37, 0.1);
  text-align: center;
}
header .links {
  line-height: 3.5em;
  font-family: 'Bebas Regular', Arial;
  letter-spacing: 2px;
}
header .links a {
  color: #4a4a4a;
  text-decoration: none;
  display: inline-block;
}
header .links img {
  display: block;
  margin: 0 auto;
  padding: 0;
}
header .links .header-link {
  text-align: center;
  width: 120px;
  display: inline-block;
}
header .links .header-link:hover {
  background-color: rgba(138, 65, 28, 0.1);
}
.left {
  float: left;
}
.right {
  float: right;
}
.container {
  width: 63%;
  min-width: 800px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.container a {
  color: #4658ff;
  text-decoration: none;
}
.container a:visited {
  color: #4658ff;
}
.container img {
  -moz-box-shadow: 1px 1px 5px #444444;
  -webkit-box-shadow: 1px 1px 5px #444444;
  box-shadow: 1px 1px 5px #444444;
  border: 10px solid #f4f4f4;
}
.container .important {
  padding-top: 50px;
  font-family: BebasRegular;
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 40px;
  font-weight: 100;
  text-align: center;
  padding-bottom: 50px;
  word-spacing: 15px;
}
.project {
  clear: both;
  display: block;
}
.project .info {
  font-weight: lighter;
  font-size: 8pt;
  font-style: italic;
  margin-top: 0;
  color: #888888;
}
.project img {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  -moz-box-shadow: 1px 1px 5px #444444;
  -webkit-box-shadow: 1px 1px 5px #444444;
  box-shadow: 1px 1px 5px #444444;
  border: 10px solid #f4f4f4;
}
h2 {
  font-family: 'Bebas Regular';
  font-weight: lighter;
  letter-spacing: 1px;
  padding-bottom: 15px;
  text-align: center;
  word-spacing: 4px;
}
h3 {
  font-family: 'Open Sans', Arial;
  font-weight: lighter;
  padding-bottom: 0;
  margin-bottom: 0;
}
h5 {
  font-weight: lighter;
  font-size: 8pt;
  font-style: italic;
  margin-top: 0;
  color: #888888;
}
