* {
	margin: 0;
	padding: 0;
}

body {
	background-color: rgb(240, 240, 240);
}

header {
	height: 40px;
	background-color: rgb(59, 89, 151);
}

header img {
	height: 40px;
}

header span {
	float: right;
	color: white;
	margin-top: 10px;
	margin-right: 10px;
		font-family: 'Lucida Grande', Tahoma;
		font-size: 10pt;
}

#container {
	font-family: 'Lucida Grande', Tahoma;
	margin: 0 auto;
	text-align: center;
	width: 600px;
}

#container img {
	border: 5px #FFF solid;
	box-shadow: 1px 1px 5px #444;
}

.small {
	display: block;
	clear: both;
	font-size: 8pt;
	color: rgb(120, 120, 120);
}

form {
	width: 250px;
	margin: 0 auto;
	display: block;
}

input {
	clear: both;
	float: left;
	width:250px;
	height: 30px;
	margin-bottom: 10px;
	background-color: rgb(235, 235, 235);
	border: 1px solid #888;
	-moz-border-radius: 3px; /* rounded corners in Mozilla browsers, adjust to a higher value for more roundness */
	-webkit-border-radius: 3px; /* works in Webkit based browsers */
	font-size: 8pt;
	text-indent: 10px;
	color: rgb(120, 120, 120);
	box-shadow: 1px 1px 2px #444;
}
select {
	clear: both;
	float: left;
	width:251px;
	height: 30px;
	margin-bottom: 10px;
	background-color: rgb(235, 235, 235);
	border: 1px solid #888;
	-moz-border-radius: 3px; /* rounded corners in Mozilla browsers, adjust to a higher value for more roundness */
	-webkit-border-radius: 3px; /* works in Webkit based browsers */
	font-size: 8pt;
	text-indent: 10px;
	color: rgb(120, 120, 120);
	box-shadow: 1px 1px 5px #444;
}

input[type=button]{
	background-color: rgb(59, 89, 181);
	box-shadow: none;
	width: 254px;
	color: rgb(240, 240, 240);
	-moz-border-radius: 0px; /* rounded corners in Mozilla browsers, adjust to a higher value for more roundness */
	-webkit-border-radius: 0px; /* works in Webkit based browsers */
	font-size: 10pt;
	font-weight: bold;
	clear: both;
	display: block;
}