/* HTML tags */
body 
{
	padding-left: 1%; 
	padding-right: 1%; 
	padding-top : 0px; 
	background-image: url("../images/background.png"); 
	background-repeat: repeat; 
	font: 10pt Tahoma;
}
h2 
{
	font-size: 18px; 
	color: #591427;
	padding: 0px; margin: 0px; 
	line-height: 18px;
}
h4
{
	color: #591427;
	padding: 0px; margin: 0px; 
	display: inline;
}
a 
{ 
	text-decoration: none; 
	color: #5CB0F7;
	border-bottom: 1px dotted #5CB0F7;
}
a:hover
{
	color: #288DE2;
	border-bottom: 1px dotted #188DE2;
}
blockquote
{
	background-color: #cacbcc;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid black;
	margin-left: 3px; margin-right: 2px; margin-bottom: 2px; margin-top: 3px;
	padding: 5px;
	padding-right: 1px;
}
blockquote .weapon 
{
	background-color: #cacbcc;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border: 1px solid black;
	margin: 5px;
	padding: 5px;
	padding-right: 1px;
}
/* IDs */
#header
{
	background-color: #fff;
    height: 90px;
    overflow: hidden;
    margin-top: 2px;
    margin-bottom: 16px;
}
#header #navbarimg
{
	float: left;
}
#header #breadcrumb #lastelement
{
    color: #000;
    padding-left: 32px;
    padding-top: 16px;
    font-size: 18px;
    text-shadow: 1px 1px 2px #aaa;
}
#container
{
	background-color: #fff;
	padding: 15px;
}
/* Classes */
.center
{
	text-align: center;
}
.bold
{
	font-weight: bold;
}
.italic
{
	font-style: italic;
}
.boxshadow
{
    -o-box-shadow: 0px 0px 5px #999;
    -icab-box-shadow: 0px 0px 5px #999;
    -khtml-box-shadow: 0px 0px 5px #999;
    -moz-box-shadow: 0px 0px 5px #999;
    -webkit-box-shadow: 0px 0px 5px #999;
    box-shadow: 0px 0px 5px #999;
    clear: both;
}
.border
{
	border: 1px solid #888;
}
.uppercase
{
	text-transform: uppercase;
}
.weapon
{
	height: 160px;
}
.weaponimg
{
	padding: 0px;
	float: left;
}
.weaponstats
{
	padding-left: 400px;
}
.weaponstats span
{
	color: #591427;
	font-weight: bold;
	font-size: 12px;
}

blockquote.hats
{
	display: inline-block;
	background-color: #cacbcc;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid black;
}
blockquote.hats img
{
	height: 160px;
	margin-left: 5px; margin-right: 5px;
}
blockquote.hats span
{
	display: block;
	text-align: center;
}
