html, body {
	margin: 0;
	padding: 0;
}

header {
	width: 100%;
	border-top: 5px solid #07f;
	height: 100px;
	box-shadow: 0px 2px 2px #888;
	background-color: white;
}

header a {
	text-decoration: none;
	color: #222;
	-webkit-transition: color 0.2s ease-in;
	transition: color 0.2s ease-in;
	-moz-transform: color 0.2s ease-in;
}

header a.logo {
	text-transform: uppercase;
	font-size: 18pt;
	color: #222;
	font-family: Monda, sans-serif;
	font-weight: bold;
	line-height: 100px;
    vertical-align: middle;
}

header a:hover {
	color: #07f;
}

header nav, header nav ul, header nav ul li {
	display: inline;
}

header nav ul li {
	font-family: Monda, sans-serif;
	text-transform: uppercase;
	font-size: 12pt;
	text-align: right;
	line-height: 70px;
	margin: 5px;
}

header nav ul {
	list-style-type: none;
	float: right;
}

body {
	background-image: url("../img/bg.jpg");
}

.selected {
	border-bottom: 5px solid #07f;
}

.wrapper {
		max-width: 1020px;
	margin: 0 auto;
}

h1 {
	text-align: center;
	font-size: 56pt;
	font-family: Monda, sans-serif;
}

.line {
	background-color: white;
	padding-top: 10px;
	padding-bottom : 10px;
	box-shadow: 0px 0px 10px #BBB;
}


.project {
	margin: 0 auto;
	background-color: white;
	padding-top: 30px;
	padding-bottom : 30px;
	box-shadow: 0px 0px 10px #BBB;
}

#aboutme img {
		box-shadow: 1px 1px 8px #444;
}
.project h2 {
	font-family: 'Source Sans Pro';
	font-size: 36pt;
	color: #07f;
	margin: 10px;
	margin-bottom: 0px;
}
#punchline {
	font-size: 16pt;
	text-align: center;
	font-family: 'Source Sans Pro';
	font-weight: 300;
}

.red {
	color: #07f;
}

.fleft {
	float: left;
}

.fright {
	float: right;
}

img.selfimage {
    display: inline;
    vertical-align: middle;
    margin-right: 10px;
}

.two_cols .fleft, .two_cols .fright {
	width: 48%;
}
.clearfix {
	clear: both;
}

h3 {
	font-family: 'Source Sans Pro';
	font-weight: 400;
	font-size: 28pt;
	color: #888;
	margin-bottom: 10px;
}

.project p {
	margin-left: 10px;
	font-family: 'Source Sans Pro';
	font-size: 14pt;
	font-weight: light;
}

.project img {
	box-shadow: 1px 1px 8px #444;
}

.project .text {
	width: 40%;
}

.project a {
	color: #07f;
	text-decoration: none;
	margin-left: 10px;
	font-family: 'Source Sans Pro'
}

.project a:after {
	content: '  »';
}
.two_cols p {
	font-family: Arial;
}

.two_cols {
	margin-bottom: 30px;
}
