body { padding-left: 1%; padding-right: 1%; padding-top : 0px; background-image:url('bg.png'); background-repeat: repeat; font: 10pt Tahoma;}
table { padding-left: 5px; padding-right: 5px; }
a { text-decoration: none; color: black;}
blockquote { padding-left: 20px; padding-bottom: 5px; background-color: #AAA}

input {	
	font-size: 10px; 
	width: 250px; 
	height: 18px; 
	padding-left: 4px;
	border: none;

	text-shadow: 1px 1px 0px #fff;

	-webkit-box-shadow: -1px -1px 0px #000;

	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dfdfdf));
	background: -moz-linear-gradient(top,  #ffffff,  #bbb);
}
#blue {color: #0084E8 ;font-weight: bold;}
#green {color: #22B14C; font-weight: bold;}
#day {font-size: 14px;}
#drama {font-size: 18px; font-weight: bold; color: #591427; display: block;}
#minidrama {font-size: 12px; font-weight: bold; color: #591427; display: block; font: Tahoma;}
#txt {font-size: 14px;}
#container {
	background-color: #FFF;
	border: 1px solid #888; 
	border-style: solid;
	border-color: #888;
}
#hate { color: #ecbb1c; font-weight: bold;}
#polypack h2 {font-weight: bold; color: #591427; text-transform: uppercase;}
#polypack h1 {font-weight: bold; color: #591427; text-transform: uppercase;}
#polypack #weapons #classobj
{
	border-radius: 3px;
	-moz-border-radius: 5px;
	border: 1px solid #888;
	background-color: #DDD;
	padding-left: 5px;
}
#container #content #article #text a {font-weight: bold; color: #591427; }
#currentcat
{
	font-size: 12px;
}
#tags
{
	display: block;
}
#weapons
{
	padding-left: 15px;
}
#classwep
{
	padding-left: 15px;
}
#weapons h3
{
	color: #591247;
	text-transform: uppercase;
}
#separator {padding: 25px;}
#article {font-family: "Segoe UI"; color: black;}
#article #title	
{
	color: #000; 
	text-shadow: 1 -1px 1px rgba(0,0,0,0.25); 
	font-weight: bold; 
	font-family: "Segoe UI"; 
	font-size: 18px; 
	width: 750px; 
	background-color: #888; 
	padding-left: 3px; padding-right: 5px;
	-moz-box-shadow: 3px 3px 4px #000 
}
#container #content #article #polypack a {font-weight: bold; color: #591427; }
#container #content #article #polypack a:hover {text-decoration: underline; }
#newitems
{
	padding: 5px;
	border: 1px solid #888;
	background-color: #AAA;
}
#newobject img
{
	padding: 2px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	background-color: #AAA;
	border: 1px solid #888;
	display: inline;
}
#tags	{	color: blue; }

input.button {
	background: #222;
	display: inline-block;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;

	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 0px solid rgba(0,0,0,0.25);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	background: -webkit-gradient(linear, left top, left bottom, from(#595959), to(#202020));
	background: -moz-linear-gradient(top,  #595959,  #202020);

	border: none;
	position: relative;
	cursor: pointer;
	
	font-size: 12px;
	font-family: "Segoe UI";
	width: 125px;
	height: 23px;

	padding-top: 0px;
	padding-bottom: 5px;

}
input.button:hover
{
	background: -webkit-gradient(linear, left top, left bottom, from(#5c5c5c), to(#121212));
	background: -moz-linear-gradient(top,  #5C5C5C,  #121212);
	-moz-border-radius: 2px 2px 2px 2px;
}
#login-input
{
		text-align: right;

		padding-right: 2px;
		padding-top: 3px;
		padding-bottom: 3px;

		background: -webkit-gradient(linear, left top, left bottom, from(#001025), to(#001e47));
		background: -moz-linear-gradient(top,  #001025,  #001e47);

		-webkit-box-shadow: 0px 1px 0px #000;

		border: 1px #1a2638 solid;
}
#header #breadcrumb
{
    padding: 0px;

    margin-top: 13px;

    height: 50px;
    overflow: hidden;
}
#header #navbarimg
{
	float: left;
}
.boxshadow
{
    -o-box-shadow: 0px 0px 5px #999;
    -icab-box-shadow: 0px 0px 5px #999;
    -khtml-box-shadow: 0px 0px 5px #999;
    -moz-box-shadow: 0px 0px 5px #999;
    -webkit-box-shadow: 0px 0px 5px #999;
    box-shadow: 0px 0px 5px #999;
    clear: both;
}

#header #breadcrumb #lastelement
{
    color: #000;
    padding-left: 32px;
    font-size: 18px;
    text-shadow: 1px 1px 2px #aaa;
}

#inputsubtext
{
	font-color: #9A9A9A;
	font-size: 8px;
}
#header
{
    background: url('mainbar.png') #fff;
    background-repeat: no-repeat;
    border: 1px solid #888;
    height: 90px;
    overflow: hidden;
    margin-top: 2px;
    margin-bottom: 16px;
}
#fancyquote
{
	font-style: italic;
	font-size: 14px;
	text-align: right;
	padding-right: 5px;
}
#tabContainer ul {
	list-style: none;
	padding:0;
	margin:0;
}
#tabContainer li {
	display: inline;
	text-align: center;
	margin: 0 5px 0 0;		
	padding-left: 0px;
}
#tabContainer li a {
	padding: 0px 32px 8px;
	font-size: 14px;
	color: #FFF;
	width: 180px;
	background-color: #591427;
	padding-bottom: 15px;
}
#tabContainer li a:hover
{
	background-color: #400F1C;
}
#tabContainer
{
	padding: 0px;
	padding-left: 40px;
	background-color: #591427;	
	height: 29px;
}
#content
{
	padding-left: 40px;
	padding-right: 5px;
	padding-bottom: 10px;
}